
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Cairo', 'Open Sans', sans-serif;
	
}
 
#header{
	width: 100%;
	min-height: 50px;
	background: #fff;
	-webkit-box-shadow: 0 0 35px rgba(0,0,0,.1);
	        box-shadow: 0 0 35px rgba(0,0,0,.1);
	position: fixed;
	top: 0;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0px 15px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	overflow: auto;
}

#logo{
	float: right;
}

#navbar{
	float: left;
}

#logo a{
	display: block;
	margin: 12px 15px 0px;
}

#navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#navbar li{
	float: right;
	direction: rtl;
}

#navbar li a{
	display: inline-block;
	padding: 17px 15px;
	font-size: 14px;
	color: #333;
	text-decoration: none;
	border-bottom: 2px solid #fff;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#navbar .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
    min-width: 230px;
    -webkit-box-shadow: 0 0 35px rgba(0,0,0,.1);
            box-shadow: 0 0 35px rgba(0,0,0,.1);
    z-index: 1;

}

#navbar .dropdown-content li{
	float: none;
}

#navbar .dropdown-content a {
    display: block;
    padding: 6px 15px;
    text-align: right;
	border-bottom: 2px solid #fff;
}


#navbar .dropdown-content a:hover, #navbar li a:hover{
	border-bottom: 2px solid #02b3e4;
	color: #00aaf6;
	background: #fff;
}

#navbar .dropdown:hover .dropdown-content{
    display: block;
}
#main{
	width: 100%;
	color: #fff;
	direction: rtl;
	
}

#main-header-bg{
	display: block;
	width:100%;
	height: 500px;
	background: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,.7)),to(rgba(0,0,0,.7))),url(../img/bg.jpg) 50% no-repeat;
	background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../img/bg.jpg) 50% no-repeat;
	background-size: cover;
	margin-bottom: -1px;
	margin-left: -1px;
}
#main-header-content{
	height: 450px;
	display:block;
	margin: auto 140px;
	position: inherit;
	text-align: center;

}
#main-header-content-body{
	margin: 86px auto;
	height: 285px;
	padding-top: 10px;
	display: inline-block;
	line-height: 1.1;
}
#main-header-content-body h1{
	font-size: 42px;
	margin-top: 86px;
}

#main-header-content-body h3{
	margin-top:25px;
}
#enroll{
	height: 77px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
.btn{
	font-size: 26px;
	text-decoration: none;
	color: white;
	background-color: #11b7e6;
	padding: 15px 24px;
	outline: none;
	margin-top: 20px;
	-webkit-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
	        box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
	-webkit-transition: all .5s;
	transition: all .5s;
	border-radius: 3px;
}

.btn:hover{
	background-color: #029fcb;
}
#main-about{
	margin: 0% 200px ;
	text-align: center;
}

#main-about, #informations{
	color: #333;
}

#informations h1{
	text-align: center;
}
#informations .underline{
	margin-left: 0;
	margin-right: 537px;
}

.main-about-text p{
	font-size: 16px;
	line-height: 30px;
	margin:25px 25px 0 25px;
}

.main-about-title{
	margin: 56px 0;
}
.uline{
	background-color: #00aaf6;
	height: 2px;
	width:90px;
	margin-left: 25%;
	margin-right: 44%;
	margin-top: -16px;
	
}
#main-about h1, #informations h1{
	font-size: 35px;
}
.informations-list li{
	list-style-type: circle;
	font-size: 14px;
	line-height: 2.3;
}

#informations{
	margin-right: 135px;
	margin-left: 135px;
}
.classroom{
	text-decoration: none;
	color: #00aaf6;
}
.tracks-container {
	display: block;
	width: 100%;
}
.web-track{
width: 100%;
display: block;
background-image: url("../img/s1.jpg");
background-position: 0% 0%;
background-repeat: no-repeat;
background-size: cover;
}
.android-track {
	width: 100%;
display: block;
background-color:#fff;
}

.tracks-container .android-track .track-container {
	padding: 70px 0px 70px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
         -ms-flex-flow: row wrap;
             flex-flow: row wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	width: 1150px;
	margin: 0px auto;
	color: black;

}

.tracks-container .web-track .track-container {
	padding: 70px 0px 70px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-flow: row-reverse wrap;
			flex-flow: row-reverse wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	width: 1150px;
	margin: 0px auto;

}
.track-container .my-video {
 width: 50%;
 padding: 15px;
}
.track-container .info {
	width: 50%;
	padding: 15px;
   }
   .track-container .info h2 {
	line-height: 1.2em;
	font-size: 2.5em;
   }
   .track-container .info h2::after {
	   content: "";
	   display: block;
	   width:100px;
	   background-color: #00aaf6;
	   height: 2px;
	   margin:15px 0px;
   }
   .track-container .info strong {
	font-size: 40px;
    color: #11b7e6;
   }
   .main-header {
	   display: block;
	   width: 100%;
	   padding: 70px 0px;
	   color: #333;
	   text-align: center;
   }
   .main-header  h2 {
	font-size: 2.5em;
	margin: 10px 0px;
   }
   .main-header  h2::after {
	content: "";
	display: block;
	width:100px;
	background-color: #00aaf6;
	height: 2px;
	margin:0px auto;
}

   @media screen and (max-width:1136px) {
	.tracks-container .web-track .track-container {
		width: 95%;
	}
	.tracks-container .android-track .track-container {
		width: 95%;
	}
	.track-container .info h2 {
		font-size: 2.1em;
	   }
   }